[main]
# first level ban duration
bantime = 600
#
dbpurgeage = 604800
dbdumppath = "/var/tmp/dump"
ignoreself = true
ignoreip = "192.168.1.0/24, 8.8.8.8"
maxretry = 3

[sshd]
file = "/var/log/auth.log"
regex1 = 'Invalid (?:user|admin) (?:.*) from (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}) port'
regex2 = 'Received disconnect from (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}) port \d{1,5}:11: Bye Bye \[preauth\]$'
regex3 = 'Connection closed by (?:authenticating|invalid) user \S+ (\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}) port \d{1,5} \[preauth\]$'
